
<br>
<div id="map"></div>
<br>

<!-- Region counters, Old age<br>
Male/Female reports Posted<br> -->

<div ng-controller="StatsController as s">
	<p>
      Total Crimes,{{totalReportsCount}}<br>
      Total Crimes  today,{{totalReportsCountToday}}<br>
      Total open,{{totalReportsOpenCount}}<br>
      Total solved,{{totalReportsSolvedCount}}<br>
      Total crimes against males,{{crimesAgainstMales}}<br>
      Total crimes against females,{{crimesAgainstFemales}}<br>
  </p>
  <br>
  	
</div>
