<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Bangalore Police Panel</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="starterApp" layout="row" ng-controller="MenuController as ul" ng-cloak >

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
      <h1>Dashboard</h1>
    </md-toolbar>

    <md-list>
      <md-list-item ng-repeat="it in ul.menus">
          <md-button ng-click="ul.selectMenu(it)" ng-class="{'selected' : it === ul.selected }">
            <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
            {{it.name}}
          </md-button>
      </md-list-item>
    </md-list>

  </md-sidenav>


  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1">
      <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Menu">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>Bangalore Police - Admin Panel</h1>
    </md-toolbar>

    <md-content ui-view></md-content>
</div>



  </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

    <script src="./src/menus/Menus.js"></script>
    <script src="./src/menus/MenuController.js"></script>
    <script src="./src/menus/MenuService.js"></script>

    <script src="./src/reports/reports.js"></script>
    <script src="./src/reports/ReportsController.js"></script>
    <script src="./src/reports/ReportsService.js"></script>

    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial', 'ui.router','menus','reports'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('brown')
                          .accentPalette('red');

              })
              .config(function($stateProvider, $urlRouterProvider) {

                 $urlRouterProvider.otherwise('/');
              
                  $stateProvider          
                      .state('statistics', {
                          url: '/stats',
                          templateUrl: './src/statistics/view/statistics.html'
                          //controller: 'StatisticsController'
                      })
                      .state('reports', {
                          url: '/reports',
                          templateUrl: './src/reports/view/listReports.html',
                          controller: 'ReportsController'
                      })
                      .state('create', {
                          url: '/create',
                          templateUrl: './src/create/view/report.html'
                          //controller: 'StatisticsController'
                      })
              
              });

    </script>

  </body>
</html>
